

<form class="form-inline">
   
    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
        <option selected>Seleccionar Dia</option>
        <option value="1">Lunes</option>
        
        
      </select>
    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
        <option selected disabled>Especialidad</option>
        <option *ngFor = "let especialidad of profesional.especialidades" [value]="especialidad">{{ especialidad }}</option>

        
      </select>
  
    <label class="sr-only" for="inlineFormInputGroupUsername2">Fecha</label>
    <div class="input-group mr-sm-2">
      <input type="date" class="form-control" id="inlineFormInputGroupUsername2">
    </div>

    <label class="sr-only" for="inlineFormInputGroupUsername2">Hora</label>
    <div class="input-group mr-sm-2">
      <input type="time" class="form-control" id="inlineFormInputGroupUsername2">
    </div>


  
    <button type="submit" class="btn btn-primary">Pedir turno</button>
  </form>