
<div class="card">
  <div class="card-header">
    Pedir Turno
  </div>
  <div class="card-body text-center">
    <div>
      {{ profesional.nombre }}
      {{ profesional.apellido }}  
    </div>

    <form class="form-inline" (ngSubmit) ="crearTurno()">
     
   
       <select name ="dia" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" [(ngModel)] = "turno.dia">
           <option selected>Seleccionar Dia</option>
           <!--option value="1">Lunes</option-->
           <option *ngFor = "let dias of profesional.dias" >
                {{ dias }}
           </option>
           
           
         </select>
       <select name ="especialidad" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" [(ngModel)] = "turno.especialidad">
           <option selected disabled>Especialidad</option>
           <option *ngFor = "let especialidad of profesional.especialidades" [value]="especialidad">{{ especialidad }}</option>
   
           
         </select>
     
       <label class="sr-only" for="inlineFormInputGroupUsername2" >Fecha</label>
       <div class="input-group mr-sm-2">
         <input name = "fecha" type="date" class="form-control" id="inlineFormInputGroupUsername2" [(ngModel)] = "turno.fecha">
       </div>
   
       <label class="sr-only" for="inlineFormInputGroupUsername2">Hora</label>
       <div class="input-group mr-sm-2">
         <input name ="hora" type="time" class="form-control" id="inlineFormInputGroupUsername2" [(ngModel)] ="turno.horario" >
       </div>
   
  
       <button type="submit" class="btn btn-primary">Pedir turno</button>
       <button type="submit" class="btn btn-danger" (click) = "cancelarTurno()">Cancelar</button>
     </form>
  </div>
</div>
