<div class="text-center">
    <button class="btn btn-primary mr-3" (click)="seleccionar('especialidad')" type="button" data-toggle="collapse">Especiliadad</button>
    <button class="btn btn-primary  mr-3"  (click)="seleccionar('semana')" type="button" data-toggle="collapse">Semana</button>
    <button class="btn btn-primary"  (click)="seleccionar('apellido')" type="button" data-toggle="collapse">Apellido</button>
</div>


<!-- <div *ngIf="seleccion == 'especialidad'">
    <div *ngFor = "let especialidad of listaEspecialidades">
        {{ especialidad }}
        <ul>
             <li *ngFor = "let profesional of filtrarProfesionalesPorEspecialidad(especialidad)" (click)="pedirTurno(profesional)">
                {{profesional.nombre}}
            </li> 
        </ul>
    </div>
</div>

 -->


<!-- 

  <div *ngIf="seleccion == 'especialidad'">
    <div *ngFor = "let especialidad of listaEspecialidades">
        {{ especialidad }}
        <ul>
             <li *ngFor = "let profesional of filtrarProfesionalesPorEspecialidad(especialidad)" (click)="pedirTurno(profesional)">
                {{profesional.nombre}}
            </li> 
        </ul>
    </div>
</div> -->


<div *ngIf="seleccion == 'especialidad'">
    <div *ngFor = "let especialidad of listaEspecialidades">
        {{especialidad}}
        <table class="table table-hover">
           <thead class="thead-dark">
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido</th>
                </tr>
            </thead>
           
            <tr *ngFor="let profesional of filtrarProfesionalesPorEspecialidad(especialidad)" (click) = "pedirTurno(profesional)">
                <!--th scope="row">{{profesional.apellido}}</th-->
                <td>{{profesional.nombre}}</td>
                <td>{{profesional.apellido}}</td>
               
            </tr>
        </table>
    </div>
</div>
 
 


<!-- <div *ngIf="seleccion == 'apellido'">
    Apellido
    <input type = "text" [formControl] = "filtroApellido" >

    <div *ngFor = "let profesional of listaProfesionalesPorApellido" (click)="pedirTurno(profesional)" >
        {{ profesional.apellido }} {{ profesional.nombre}}
    </div>

</div>
 -->


 <div *ngIf="seleccion == 'apellido'">
    Apellido
    <input type = "text" [formControl] = "filtroApellido" >
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
              <th scope="col">Apellido</th>
              <th scope="col">Nombre</th>
            </tr>
          </thead>

        <tr *ngFor="let profesional of listaProfesionalesPorApellido" (click) = "pedirTurno(profesional)">
            <th scope="row">{{profesional.apellido}}</th>
            <td>{{profesional.nombre}}</td>
           
        </tr>
    </table>
</div>




<!-- <div *ngIf="seleccion == 'semana'">
    <div *ngFor = "let dia of listaDias">
        {{ dia }}
        <ul>
            <li *ngFor = "let profesional of filtrarProfesionalesPorDia(dia)" (click)="pedirTurno(profesional)">
                {{profesional.nombre}}
            </li>
        </ul>
    </div>
</div>
 -->

 
<div *ngIf="seleccion == 'semana'">
    <div *ngFor = "let dia of listaDias">
        {{dia}}
        <table class="table table-hover">
           <thead class="thead-dark">
                <tr>
                  <th scope="col">Apellido</th>
                  <th scope="col">Nombre</th>
                </tr>
            </thead>
           
            <tr *ngFor="let profesional of filtrarProfesionalesPorDia(dia)" (click) = "pedirTurno(profesional)">
                <th scope="row">{{profesional.apellido}}</th>
                <td>{{profesional.nombre}}</td>
                
            </tr>
        </table>
    </div>
</div>



<!-- <div *ngIf="seleccion == 'semana'">
    <table class = "table">
        <ng-container *ngFor="let dia of listaDias">
            <tr><td>{{dia}}</td></tr>
            <tr *ngFor="let profesional of filtrarProfesionalesPorDia(dia)" (click) = "pedirTurno(profesional)"><td>{{profesional.nombre}}</td></tr>
        </ng-container>
   </table>


</div> -->