<div class="text-center">
    <button class="btn btn-primary mr-3" (click)="seleccionar('especialidad')" type="button" data-toggle="collapse">Especiliadad</button>
    <button class="btn btn-primary  mr-3"  (click)="seleccionar('semana')" type="button" data-toggle="collapse">Semana</button>
    <button class="btn btn-primary"  (click)="seleccionar('apellido')" type="button" data-toggle="collapse">Apellido</button>
</div>



<div *ngIf="seleccion == 'especialidad'">
    <div *ngFor = "let especialidad of listaEspecialidades">
        {{ especialidad }}
        <ul>
            <li *ngFor = "let profesional of filtrarProfesionalesPorEspecialidad(especialidad)" (click)="pedirTurno(profesional)">
                {{profesional.nombre}}
            </li>
        </ul>
    </div>
</div>

<div *ngIf="seleccion == 'apellido'">
    Apellido
    <input type = "text" [formControl] = "filtroApellido" >

    <div *ngFor = "let profesional of listaProfesionalesPorApellido" (click)="pedirTurno(profesional)" >
        {{ profesional.apellido }} {{ profesional.nombre}}
    </div>

</div>

<div *ngIf="seleccion == 'semana'">
    <div *ngFor = "let dia of listaDias">
        {{ dia }}
        <ul>
            <li *ngFor = "let profesional of filtrarProfesionalesPorDia(dia)" (click)="pedirTurno(profesional)">
                {{profesional.nombre}}
            </li>
        </ul>
    </div>
</div>