<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Clínica</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <ng-container  *ngIf="logged">
          <ng-container *ngIf="role == 'paciente'">
            <li class="nav-item">
              <a class="nav-link" routerLink = "home-paciente">Paciente</a>
            </li>
          </ng-container>
          <ng-container *ngIf="role == 'profesional'">
            <li class="nav-item">
              <a class="nav-link" routerLink = "home-profesional">Profesional</a>
            </li>
          </ng-container>
          <ng-container *ngIf="role == 'admin'">
            <li class="nav-item">
              <a class="nav-link" routerLink = "home-admin">Admin</a>
            </li>
          </ng-container>
         
     
          <!--li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li-->
        </ng-container>
      
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <span class="mr-sm-2 font-weight-bold text-white">{{user?.email}}</span>
        <button *ngIf="!logged" class="btn btn-success my-2 my-sm-0" (click) ="registrarse()">Registrarse</button>
        <button *ngIf="logged"  class="btn btn-danger my-2 my-sm-0" (click)="logout($event)">Salir</button>
      </form>
    </div>
  </nav>