<div class="row" *ngIf = "!profesionalSeleccionado">
    <div class="col-md-6">
        <button class="btn btn-block btn-primary" (click) = "mostrarTurnos()">Mis turnos</button>
    </div>
    <div class="col-md-6">
        <button class="btn btn-block btn-primary" (click) = "mostrarCartilla()">Cartilla</button>
    </div>
</div>

<div *ngIf = "seleccion == 'turnos'">
 <app-mis-turnos-paciente></app-mis-turnos-paciente>
</div>
<div class = "mt-3" *ngIf = "seleccion == 'cartilla' && !profesionalSeleccionado">
    <app-listado-profesionales  (profesionalSeleccionado)="pedirTurno($event)" ></app-listado-profesionales>
</div>

<div *ngIf = "profesionalSeleccionado">
    <app-pedir-turno [profesional]="profesional" (cancelaTurno) = "profesionalSeleccionado = false" >   </app-pedir-turno>
</div>